html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F0EFE2 url(background.png) repeat;
  color: #777;}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #43423F;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}

h2
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #1293EE;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;
  color: #1293EE;}

h5, h6
{ font: italic 95% arial, sans-serif;
  padding: 0 0 15px 0;
  color: #000;}

h6
{ color: #362C20;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #FD5BFF;}

a:hover
{ text-decoration: none;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background: #1D1D1D url(header.png) repeat;
  height: 240px;}

#logo
{ width: 825px;
  position: relative;
  height: 168px;}

#logo #logo_text 
{ position: absolute; 
  top: 20px;
  left: 0;}
#logintext
{
	color: white;
	position: fixed;
	float: left;
	font: bold;
	font-size: 16px;
}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #1293EE;}

#logo_text h2
{ font-size: 100%;
  padding: 4px 0 0 0;
  color: #DDD;}

#menubar
{ width: 900px;
  height: 72px;
  padding: 0;
  background: #1293EE;} 

ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% arial, sans-serif;
  display: block; 
  float: left; 
  height: 37px;
  padding: 29px 15px 6px 15px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  font-size: 12px;} 

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #FFF;
  background: #0D66A5;}

#site_content
{ width: 837px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 37px;
  background: #FFF;} 

.sidebar
{ float: right;
  width: 190px;
  padding: 0 15px 20px 15px;}

.sidebar ul
{ width: 178px; 
  padding: 4px 0 0 0; 
  margin: 4px 0 30px 0;}

.sidebar li
{ list-style: none; 
  padding: 0 0 7px 0; }

.sidebar li a, .sidebar li a:hover
{ padding: 0 0 0 40px;
  display: block;
  background: transparent url(link.png) no-repeat left center;} 

.sidebar li a.selected
{ color: #444;
  text-decoration: none;} 

#content
{ 
	
	text-align: left;
  width: 595px;
  padding: 0;
  height:800px;
  margin: auto;}

#content ul
{ margin: 2px 0 22px 0px;}

#content ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

#footer
{ width: 900px;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  height: 33px;
  padding: 24px 0 5px 0;
  text-align: center; 
  background: #1293EE;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;}

#footer a
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: underline;}

.search
{ color: #5D5D5D; 
  border: 1px solid #BBB; 
  width: 134px; 
  padding: 4px; 
  font: 100% arial, sans-serif;}

#colours
{ height: 0px;
  text-align: right;
  padding: 66px 16px 0px 300px;}
  
.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #1293EE; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
  
table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #F0EFE2;
  color: #47433F;
  border-top: 1px solid #FFF;}
  
  
  /* ****************************** CSS Que pour le menu de la page d'administration*/

 body {
 font-family: Alegreya Sans;
 background: inherit;
}
.menu {
 position: relative;
 background: #cd3e3d;
 width: 3em;
 height: 3em;
 border-radius: 5em;
 margin: auto;
 margin-top: 5em;
 margin-bottom: 5em;
 cursor: pointer;
 border: 1em solid #66ccff;
}
.menu:after {
 content: "";
 position: absolute;
 top: 1em;
 left: 1em;
 width: 1em;
 height: 0.2em;
 border-top: 0.6em double #fff;
 border-bottom: 0.2em solid #fff;
}
.menu ul {
 list-style: none;
 padding: 0;
}
.menu li {
 width: 5em;
 height: 1.4em;
 padding: 0.2em;
 margin-top: 0.2em;
 text-align: center;
 border-top-right-radius: 0.5em;
 border-bottom-right-radius: 0.5em;
 transition: all 1s;
 background: #0000ff;
 opacity: 0;
 z-index: -1;
}
.menu:hover li {
 opacity: 10;
}
/**
* Add a pseudo element to cover the space
* between the links. This is so the menu
* does not lose :hover focus and disappear
*/
.menu:hover ul::before {
 position: absolute;
 content: "";
 width: 0;
 height: 0;
 display: block;
 left: 50%;
 top: -5.0em;
 /**
 * The pseudo-element is a semi-circle
 * created with CSS. Top, bottom, and right
 * borders are 6.5em (left being 0), and then
 * a border-radius is added to the two corners
 * on the right.
 */
 border-width: 6.5em;
 border-radius: 0 7.5em 7.5em 0;
 border-left: 0;
 border-style: solid;
 /**
 * Have to have a border color for the border
 * to be hoverable. I'm using a very light one
 * so that it looks invisible.
 */
 border-color: rgba(0,0,0,0.01);
 /**
 * Put the psuedo-element behind the links
 * (So they can be clicked on)
 */
 z-index: -1;
 /**
 * Make the cursor default so it looks like
 * nothing is there
 */
 cursor: default;
}
.menu a {
 color: white;
 text-decoration: none;
 /**
 * This is to vertically center the text on the
 * little tab-like things that the text is on.
 */
 line-height: 1.5em;
}
.menu a {
 color: black;
 font-size:12px;
 text-decoration: none;
}
.menu ul {
 transform: rotate(180deg) translateY(-2em);
 transition: 1s all;
}
.menu:hover ul {
 transform: rotate(0deg) translateY(-1em);
}
.menu li:hover {
 background: #cd3e3d;
 z-index: 10;
}
.menu li:nth-of-type(1) {
 transform: rotate(-90deg);
 position: absolute;
 left: -1.2em;
 top: -4.2em;
}
.menu li:nth-of-type(2) {
 transform: rotate(-45deg);
 position: absolute;
 left: 2em;
 top: -3em;
}
.menu li:nth-of-type(3) {
 position: absolute;
 left: 3.4em;
 top: 0.3em;
}
.menu li:nth-of-type(4) {
 transform: rotate(45deg);
 position: absolute;
 left: 2em;
 top: 3.7em;
}
.menu li:nth-of-type(5) {
 transform: rotate(90deg);
 position: absolute;
 left: -1.2em;
 top: 5em;
}
.hint {
 text-align: center;
}
